.env
.env.*
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/
data/raw/
data/processed/
data/vector_db/
celerybeat-schedule
celerybeat.pid
*.log
.git/
frontend/
node_modules/
Pipfile
Pipfile.lock
README.md
.gitignore
